/* Mobile and Tablet */
@media (max-width: 1023px) {
  .header {
    max-height: 68px;
    position: fixed;
    z-index: 1;
    top: 0;
  }

  .main {
    margin-top: calc(68px + 46px);
  }

  .container {
    padding-top: 0;
  }

  .product {
    margin-top: 0;
    padding-top: 8px;
  }

  .header-with-search {
    height: auto;
    padding: 0;
    flex-basis: 100%;
    margin: auto;
  }

  .header__product {
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    width: 100%;
  }

  .header__product::after {
    display: none;
  }

  .header__product::before {
    display: none;
  }

  .header__product-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .header .grid {
    display: flex;
    height: 100%;
  }

  .header__sort-bar {
    display: flex;
  }

  .header__looking-border.hide-on-mobile.hide-on-tablet {
    display: none;
  }
  .mobile-category {
    display: block;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .header__product-container {
    max-width: 644px;
  }

  .footer .col:last-child {
  }
}

/* Mobile */
@media (max-width: 739px) {
  .main {
    margin-top: calc(54px + 46px);
  }

  .header {
    max-height: 54px;
  }

  .product {
    margin: 0 4px;
  }

  .hide-on-mobile {
    display: none;
  }

  .header__looking-btn.hide {
    display: flex;
  }

  .header-with-search {
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin: 0;
    position: relative;
  }

  .header__looking-mb {
    padding: 0 12px;
  }

  .header__looking-mb i {
    font-size: 26px;
  }

  .header__logo {
    margin: 0;
  }

  .header__logo-shopee svg {
    height: auto;
    width: 110px;
  }

  .header__cart {
    padding-bottom: 0;
  }

  .header__product {
    top: 54px;
  }

  .header__search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 46px;
    animation: showSearchMobile linear 0.3s;
    display: none;
    z-index: 2;
  }

  @keyframes showSearchMobile {
    from {
      opacity: 0;
      top: 20px;
    }
    to {
      opacity: 1;
      top: 54px;
    }
  }

  .header__search-checkbox:checked ~ .header__search {
    display: flex;
  }

  .header__looking {
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }

  .footer__content {
    padding: 0 16px;
  }

  .product-view {
    margin-bottom: 60px;
  }

  .header__history {
    width: 100%;
    top: 100%;
  }

  .header__history-container {
    justify-content: space-around;
  }

  .header__history-img {
    margin-left: unset;
  }
}

@media (min-width: 1024px) {
  .footer .col:last-child {
    max-width: 18%;
  }
}
